.dashboard-owe-cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-owe-card-container {
    width: 100%;

    .card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.owe-one-direction-header {
}