.topbar {
    width: 100%;
    top: 0;
    bottom: auto;
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;

    .appbar-container {
        width: 100vw;
        
        .appbar {
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.topbar-logo-container {
    display: flex;
    justify-content: center;
}