@import "../../../assets/style/global.scss";

.transaction-list {
    ul {
        list-style-type: none;
    }
    
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .bracket {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}

.transaction-card-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    .left {
        flex: 2;
        overflow: visible;
    }

    .center {
        flex: 6;
        display: flex;
        flex-direction: row;
        justify-content: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .right {
        flex: 2;
    }
}

.relation-card-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .relation-content {
        gap: 10px;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}