.app {
    zoom: reset;
}

body, ul {
    // Apparently this needs to be defined OUTSIDE of the app component in order to take effect
    height: 100vh;
    margin: 0;
    padding: 0;

    // Disable scrollbar
    &::-webkit-scrollbar {display:none;}
}

.fill-line {
    margin-left: 10px;
    height: 0px;
    flex: 1;
    border: 1px dotted lightgrey;
    
    &.margin-right {
        margin-right: 10px;
    }

    &.line-style-solid {
        border: 1px solid lightgrey;
    }

    &.line-style-none {
        border: 0px dotted lightgrey;
    }
}

.spacer {
    margin-left: 20px;
}

.center-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.column {
        flex-direction: column;
    }
}