@import "../../assets/style/global.scss";


.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    
    &.current {
        color: black;
    }

    &.first {
        color: lightslategray;
    }
}

.section-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar-stack-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .avatar-stack-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pfp {
            border: 1px solid lightgrey;
            width: 60px;
            height: 60px;
            margin: 5px;

            &.small {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.transaction-list {
    ul {
        list-style-type: none;
    }
    
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .bracket {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}

.transaction-card-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    .left {
        flex: 2;
    }

    .center {
        flex: 7;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .right {
        flex: 2;
    }
}