@import "../../assets/style/global.scss";

.avatar-stack-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .pfp {
        width: 60px;
        height: 60px;
        background-color: white;

        &.small {
            width: 25px;
            height: 25px;
        }
    }

    .avatar-check {
        font-size: 10px;
    }
}

.transaction-list {
    ul {
        list-style-type: none;
    }
    
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .bracket {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}

.transaction-card-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    .left {
        flex: 2;
        overflow: visible;
    }

    .center {
        flex: 6;
        display: flex;
        flex-direction: row;
        justify-content: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .right {
        flex: 2;
    }
}

.avatar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100%;
    height: 100%;

    .avatar-toggle-icon-element {
        border: 1px solid lightgrey;
        border-radius: 50%;
        margin-bottom: 1px;
        
        &.outlined{
            border: 2px solid $citrus-green;
            margin-bottom: 0px;
        }
    }
}