@import url('../../../assets/style/global.scss');

.footer {
    height: 30vh;
    display: flex;
    background-color: #B0C856;
    flex-direction: row;
    color: white;

    .column {
        flex: 33%;
        width: 100%;
        height: inherit;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;

        a {
            color: white;
            text-decoration: none;
        }
    }
}