@import url('../../assets/style/global.scss');

.topbar-logo-container {
    display: flex;
    justify-content: center;
}

.topbar {
    width: 100%;
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;

    .appbar-container {
        width: 98vw;
        
        .appbar {
            margin-top: 10px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}