ul {
    list-style-type: none;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bracket {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .line {
        margin-left: 10px;
        flex: 1;
        border: 1px solid lightgrey;
    }
}