@import url('../../assets/style/global.scss');

.homepage {
    overflow: hidden;
}

.footer {
    height: 30vh;
    display: flex;
    background-color: #FDB90F;
    flex-direction: row;
    color: white;
    margin-top: -1px;

    .column {
        flex: 33%;
        width: 100%;
        height: inherit;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;

        a {
            color: white;
            text-decoration: none;
        }
    }
}