.bookmarks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loading-box {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}