@font-face {
    font-family: 'FredokaOne'; /*a name to be used later*/
    src: url("../../assets/fonts//FredokaOne-Regular.ttf"); /*URL to font*/
}

$citrus-green: #bfd679;
$citrus-yellow: #f0e358;
$citrus-orange: #FDB90F;
$citrus-pink: #F4A09A;
$citrus-red: #EA4236;
$citrus-tan: #FDB90F33;

$dashboard-content-width: 50vw;