.new-transaction-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .new-transaction-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        .tab-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .tabs {
                width: 100%;

                .tab-item {

                    &.left {
                        border-right: 1px solid lightgrey;
                    }
                }
            }
        }

        .tab-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 60vh;
            border-top: 1px solid lightgrey;
        }

    }
}

.selector {
    width: 100%;
}

.split-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .back-button {
        height: 40px;
        width: 100%;
    }
    
    .split-type-page {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        .button-container {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            width: 20%;
            justify-content: space-between;
        }

        .group-select {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;

            .group-select-box {
                width: 100%;
            }
        }
    }
}